body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #050608;
}

.canvas-container {
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/pho/solarbackground.png") no-repeat center center;
    background-size: 300px auto;
    opacity: 0.3;
    /*0.3表示30%不透明度 */
    z-index: -1;
}

canvas {
    border: 1px solid #2c3e50;
    position: relative;
    background: transparent;
}

canvas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/pho/solarbackground.png") no-repeat center center;
    background-size: 300px auto;
    opacity: 0.001;
    /*表示 50% 的透明度 */
    z-index: -1;
}

.quote {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 28px;
    /*font-family: "楷体", KaiTi, "华文楷体", STKaiti, serif;*/
    font-family: "华文行楷", STXingkai, "行楷", "楷体", KaiTi, serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    letter-spacing: 2px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    line-height: 2;
}